.root {
  width: 100%;
}

ul {
  padding-left: 0px;
}

.game-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
  list-style-type: circle;
  list-style: circle;
  max-width: 500px;

  @media only screen and (max-width: 400px) {
    flex-direction: column;
  }

  .city {
    font-weight: bold;
    word-spacing: 15px;
    margin-bottom: 5px;
  }

  .space {
    display: flex;
    flex: 1;
  }

  .medal-container {
    display: flex;
    flex-direction: row;

    .medal-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: center;
      align-items: center;
      margin-left: 10px;
      width: 50px;

      .medal {
        width: 30px;
        height: 30px;
        margin-left: 5px;
      }
    }
  }
}
